// color pallete pallete 1
$olive-drab: #423b0b;
$magic-mint: #b5fed9;
$turqouise-green: #98cbb4;
$morning-blue: #7ba098;
$rifle-green: #474935;

// pallete 2

$color-1: #3c9691;
$color-2: #ff722d;
$color-3: #e8dfcf;
$color-4: #614242;
